<div class="row" style="text-align: left">
    <div>
        Update current profile? <input type="checkbox" [(ngModel)]="update">
    </div>
    <div class="col">
        enter profile name here: <input type="text" [(ngModel)]="profileName" [disabled]="update" >
    </div>
    <div class="col" id="description">
        enter profile description here:
        <textarea id="textarea" [(ngModel)]="profileDescription" [disabled]="update"></textarea>
    </div>
</div>
<div class="row">
    <input type="button" value="safe profile" (click)="safeProfile()">
</div>