<div>
	<div class="row" style="text-align: left">
		<div>
			<h4>
				<span class="fa fa-chevron-right" 
				  	  (click)="visible = !visible"
			  	  	  [@visible]="visible">
				</span>
				{{section}}
			</h4>
		</div>	
	</div>
	<div class="w-100"></div>
	<div *ngIf="visible">
		<div class="row" *ngFor="let property of properties">
			<div class="col" style="text-align: left" [style.color]="getHighlighted(property.pname)">
				{{property.pname}}
			</div>
			<div class="col">
				<input type="text" id={{property.pname}} value={{property.probability}} [(ngModel)]="property.probability" (input)="handlePropertyChange($event)">
			</div>
		</div>
	</div>
</div>